replicaCount: 1

image:
  repository: notification-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}