replicaCount: 1

image:
  repository: frontend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

config:
  apiBase: http://pawcare.local

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}