ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: pawcare.local
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: frontend
              port:
                number: 80
        - path: /api/pets
          pathType: Prefix
          backend:
            service:
              name: pet-service
              port:
                number: 80
        - path: /api/appointments
          pathType: Prefix
          backend:
            service:
              name: appointment-service
              port:
                number: 80
        - path: /api/notifications
          pathType: Prefix
          backend:
            service:
              name: notification-service
              port:
                number: 80
  tls: []